<form action="/createEvent" method="post">

<h1> Create your event </h1>
<p>
Event name: <input name="name">
<p>
Event date and time: <input type="text" name="date">
<p>
Event location: <input type="text" name="location">
<p>
Type of food: <input type="text" name="foodType">
<p>
<input type="submit" value="Create">

</form>