<h1> Successfully created new account! </h1>
<p>
<b>Name:</b> <%= person.name %>
<p>
<b>Email:</b> <%= person.email %>
<p>
<b>School:</b> <%= person.school %>
<p>
<a href="/">
<button> Go home </button>
