<h1> Successfully created new event! </h1>
<p>
<b>Name:</b> <%= event.name %>
<p>
<b>Location:</b> <%= event.location %>
<p>
<b>Date:</b> <%= event.date %>
<p>
<b>Food type:</b> <%= event.food %>
<p>
<form action="/allEvents">
    <button> Back to home </button>
</form>
