<form action="/deletedEvent/<%=event._id%>" method="post">
<h1> Edit your event </h1>
<h2> Note: Leave fields empty that you don't want to change </h2>
<p>
Event name: <input name="name">
<p>
Event date and time: <input type="text" name="date">
<p>
Event location: <input type="text" name="location">
<p>
Type of food: <input type="text" name="foodType">
<p>

<input type="submit" value="Submit changes"></input>
</form>